@charset "UTF-8";

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#no3 {
	animation: fadein .3s ease;
	opacity: 0;
	animation-delay: .3s;
	animation-fill-mode: forwards;

}
#no4 {
	animation: fadein .3s ease;
	opacity: 0;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
#no5 {
	animation: fadein .3s ease;
	animation-delay: .7s;
	opacity: 0;
	animation-fill-mode: forwards;
}
#no6 {
	animation: fadein .3s ease;
	animation-delay: .9s;
	opacity: 0;
	animation-fill-mode: forwards;
}
#no7 {
	animation: fadein .3s ease;
	animation-delay: 1.1s;
	opacity: 0;
	animation-fill-mode: forwards;
}
#no8 {
	animation: fadein .3s ease;
	animation-delay: 1.3s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#no9 {
	animation: fadein .3s ease;
	animation-delay: 1.5s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#no10 {
	animation: fadein .3s ease;
	animation-delay: 1.7s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#bigwerd {
	line-height: 70%
}

.blackline {
	background-color: black;
	height: 70px;
	color: hsla(0,0%,98%,1.00);
	font-size: 1em;
	
}


.yearimage {
	margin-top: -40px;
	margin-left: 39px;
	width: 188px;
}

.yearimagespaced {
	margin-top: -33.8px;
	margin-left: 39px;
	width: 188px;
}

.whiteline {
	background-color: white;
	height: 70px;
	
	
}



.spacer {
	margin-top: 2382px;
}

.whiteline2 {
	background-color: white;
	height: 70px;
	background-image: url(_img/lewitt2.png);
	
	
}

header {
	position: fixed;
	z-index: 25;
}

h1 {
	font-size: 4.2em;
	color: white;
	transition: color .5s ease;
	margin-top: -5px;
	background-color: black;
	padding-top: 11px;
	padding-left: 0px;
	padding-bottom: 72px;
}

h1:hover {
	color: black;
}

.art {
	position: relative;
	max-height: 490px;
	float: right;
}

.resize {
	height: 490px;
}

nav {
	font-family: 'Overpass Mono', monospace;
	position: fixed;
	margin-top: 55px;
	margin-left: 40px;
	z-index: 53;
}

h3 {
	font-family: 'Overpass Mono', monospace;
	color: white;
	font-size: 3.5em;
	margin-left: 51px;
}

#quote1 {
	padding-top: 39px;
	padding-left: 21px;
	font-size: 6em;
}
#quote2 {
	padding-top: 0px;
	padding-left: 115px;
	font-size: 4em;
}
#quote3 {
	padding-top: 0px;
	padding-left: 157px;
	font-size: 4em;
}
#quote4
{
	padding-top: 0px;
	float: right;
	font-size: 4em;
	padding-right: 75px;
}

p {
	font-family: 'Overpass Mono', monospace;
	color: white;
	margin-left: 51px;
	padding-right: 0px;
	width: 41%;
}

.slant {
	position: fixed;
	height: 80px;
	transform: rotate(45deg);
	width: 140%;
	border-spacing: 0px 0px;
	
	
}

h2 {
	font-size: 2em;
	
}

a {
	text-decoration: inherit;
	color: white;
	transition: color .5s ease;
}




a:hover {
	color: #A63029;
}

.inlineimg {
	position: static;
	display: inherit;
	width: 308px;
	margin-left: 35%;
	transition: opacity 1s ease;
	padding-top: 279px;
}

.inlineimg:hover {
	opacity: .75;
}

.whirls {
	margin-top: -165px;
	width: 1706px;
	float: right;
	height: 1110px;
	opacity: 0;
	animation: fadein 2s ease;
	animation-delay: 1.7s;
	animation-fill-mode: forwards;
}

.triangle {
	padding-bottom: 0px;
	margin-bottom: -88px;
	width: 327px;
	z-index: -1;
	margin-left: 20%;
	margin-top: -1px;
}

.cube {
	padding-bottom: 0px;
	margin-bottom: -688px;
	width: 420px;
	margin-left: 45%;
}

.contentblock {
	height: 488px;
	background-color: black;
	width: 63%;
	margin-left: 25%;
	margin-top: -2310px;
	margin-bottom: 189px;
}

.aboutcontentblock {
	height: 488px;
	background-color: black;
	width: 63%;
	margin-left: 25%;
	margin-top: -2050px;
}

ul {
	list-style-type: none;
	width: 0px;
	padding-top: 69px;
	padding-right: 69px;
	padding-left: 69px;
	padding-bottom: 69px;
	display: inline;
	margin-left: 58px;
}
section {
	margin-top: -1197px;
}

#aboutblock   {
	height: 0px;
}
#workblock   {
}


@media (max-width: 1470px){
	header {
	width: 100%;
	text-align: center;
	}
	nav {
	text-align: center;
	width: 100%;
	margin-top: 60px;
	margin-left: 0px;
	}
.aboutcontentblock {
	width: 100%;
	margin-left: 0px;
}
.aboutcontentblock video {
	float: right;
	width: 27%;
	margin-left: 56%;
}
.contentblock {
	width: 100%;
	margin-left: 0px;
	margin-top: -2170px;
}
.profile {
	text-align: center;
}
	
}

@media (max-width: 819px){
	.whirls {
	margin-top: -25px;		
	}
}

@media (max-width: 954px){
.art {
	display: inline;
	max-height: none;
	text-align: center;
	width: 100%;
	clear: none;
	padding-top: 20px;
	padding-bottom: 30px;
}
.contentblock {
	height: 919px;
	margin-bottom: 0px;
	background-color: hsla(0,0%,0%,1.00);
	padding-bottom: 1328px;
}
h3 {
	font-size: 2em;
}
p {
	width: 80%;
}
}
